html,body{
  height: 100%;
}
ul,div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  min-width: 300/20rem;
  min-height: 500/20rem;
  word-wrap: break-word;
  word-break:break-all;
  color: #404040;
  position: relative;
  font: 14/20rem "Microsoft YaHei", 'Hiragino Sans GB', arial, SimHei, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f1f1f1 url("../images/qins-bg-jtm.jpg") center/cover repeat-y;
}
.footer{
  position: absolute;
  bottom: 30/20rem;
  text-align: center;
  left: 0;
  width: 100%;
  color: #aaa;
  font-size: 12/20rem;
}
.login-box{
  width: 386/20rem;
  height: 360/20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200/20rem;
  margin-top: -180/20rem;
  padding: 26/20rem;
  box-sizing: border-box;
  border-radius: 4/20rem;
  -webkit-animation:breath 5s infinite;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin:bottom center;
  .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .3;
    background-color: #fff;
    border-radius: 6/20rem;
  }
  p.form-title {
    text-align: center;
    font-size: 26/20rem;
    color: #000;
    margin-bottom: 20/20rem;
  }
  .form-item {
    font-size: 16/20rem;
    color: #000;
    margin-bottom: 20/20rem;
    input{
      height: 36/20rem;
      width: 312/20rem;
      border-radius: 4/20rem;
      border: 0;
//      font-size: 16/20rem;
      outline-style: none;
      padding: 0 10/20rem;
      background-color: #fff;
    }
    .tab-item{
      display: inline-block;
      width: 15/20rem;
    }
  }
  .submit-btn{
    display: block;
    border: 0;
    width: 332/20rem;
    height: 38/20rem;
    border-radius: 4/20rem;
    font-size: 16/20rem;
    color: #fff;
    background-color: #149FAB;
    margin-top: 30/20rem;
    cursor: pointer;
  }
}
@-webkit-keyframes breath{
  30%{
    -webkit-transform:scale(1.02,1.02) translateY(-4/20rem);
  }
  60%{
    -webkit-transform:scale(1,1);
  }
}