html,
body {
  height: 100%;
}
ul,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  min-width: 15rem;
  min-height: 25rem;
  word-wrap: break-word;
  word-break: break-all;
  color: #404040;
  position: relative;
  font: 14/20rem "Microsoft YaHei", 'Hiragino Sans GB', arial, SimHei, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f1f1f1 url("../images/qins-bg-jtm.jpg") center / cover repeat-y;
}
.footer {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
  left: 0;
  width: 100%;
  color: #aaa;
  font-size: 0.6rem;
}
.login-box {
  width: 19.3rem;
  height: 18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10rem;
  margin-top: -9rem;
  padding: 1.3rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  -webkit-animation: breath 5s infinite;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: bottom center;
}
.login-box .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .3;
  background-color: #fff;
  border-radius: 0.3rem;
}
.login-box p.form-title {
  text-align: center;
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 1rem;
}
.login-box .form-item {
  font-size: 0.8rem;
  color: #000;
  margin-bottom: 1rem;
}
.login-box .form-item input {
  height: 1.8rem;
  width: 15.6rem;
  border-radius: 0.2rem;
  border: 0;
  outline-style: none;
  padding: 0 0.5rem;
  background-color: #fff;
}
.login-box .form-item .tab-item {
  display: inline-block;
  width: 0.75rem;
}
.login-box .submit-btn {
  display: block;
  border: 0;
  width: 16.6rem;
  height: 1.9rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #149FAB;
  margin-top: 1.5rem;
  cursor: pointer;
}
@-webkit-keyframes breath {
  30% {
    -webkit-transform: scale(1.02, 1.02) translateY(-0.2rem);
  }
  60% {
    -webkit-transform: scale(1, 1);
  }
}
