<div ng-controller="LoginCtrl" class="login-box">
    <div class="mask"></div>
    <p class="form-title">登录</p>
    <form name="loginForm">
        <div class="form-item"><!--<span>用户名：</span>--><input name="username" type="text" ng-model="user.username" placeholder="用户名" required/></div>
        <div class="form-item"><!--<span>密<i class="tab-item"></i>码：</span>--><input name="password" type="password" ng-model="user.password" placeholder="密码" required/></div>
        <div class="form-item"><!--<span>验证码：</span>--><input name="code" type="text" ng-model="user.code" placeholder="验证码" required/></div>
        <button class="submit-btn" type="submit"  ng-click="save()">提交</button>
        <!--<p>{{loginForm.$valid}}</p>-->
    </form>
</div>