@charset "utf-8";
/* CSS Document */
/*YUI reset*/
html,body{ height: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
button {
    font: 14px/20px "Microsoft YaHei", 'Hiragino Sans GB', arial, SimHei, Verdana, sans-serif;
    cursor: pointer;
}
input{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: 14px "Microsoft YaHei", 'Hiragino Sans GB', arial, SimHei, Verdana, sans-serif;
}
body{
    min-width: 1200px;
    word-wrap: break-word;
    word-break:break-all;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    color: #404040;
    font: 14px "Microsoft YaHei", 'Hiragino Sans GB', arial, SimHei, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}
ol, ul {
    list-style: none;
}
a {
    color: #404040;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: none;
}

i, em {
    font-style: normal;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.clearfix {
    clear: both;
}
/*end YUI reset*/




